@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: 17 28 34;
        --background: 248 250 252;
        --primary: 60 67 124;
        --secondary: 220 211 233;
        --accent: 110 78 162;
    }

    .dark {
        --text: 221 232 238;
        --background: 3 5 7;
        --primary: 131 139 195;
        --secondary: 31 22 44;
        --accent: 125 93 177;
    }
}

* {
    /* outline: blue 1px solid; */
}

body {
    @apply bg-background text-text;
    font-family: 'Prompt', sans-serif;
}


/* For iphone svg status bar */
:root {
    --status-bg: #ffffff;
    --status-text: #000000;
}

.dark {
    --status-bg: #353739;
    --status-text: #ffffff;
}

.status-text {
    fill: var(--status-text);
}

.status-bg {
    fill: var(--status-bg);
}

/* Hero background */
.hero-bg {
    background-image:
    conic-gradient(from 90deg at 2px 2px,
        rgba(var(--background)/1) 90deg,
        rgba(var(--background)/0.3) 90deg),
        radial-gradient(circle, rgb(var(--background)) 10%,
            transparent 50%),
        radial-gradient(circle, rgba(var(--accent)/1) 1%,
            transparent 50%);
    background-size: 3rem 3rem,100vw 150vw,120vh 120vh ;
    background-position: 0 0, -20vw -100vw, -50vh 10vh;
    animation: hero-bg-anim 15s linear infinite;
}
@keyframes hero-bg-anim {
    0% {
        background-position: 0 1.5rem, 100vw -50vw,-100vh 10vh;
    }
    50% {
        background-position: 0 0, 50vw -100vw, -10vh 200vh;
    }
    100% {
        background-position: 0 -1.5rem, -100vw 100vw, 20vh 130vh;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* slide skill */
.side-fade::before,
.side-fade::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    /* height: 100%; */
    width: 2rem;
    left: 0;
    background: linear-gradient(to right, rgb(var(--background)) 0%, transparent 100%);
    pointer-events: none;
    z-index: 1;
}

.side-fade::after {
    right: 0;
    left: auto;
    background: linear-gradient(to left, rgb(var(--background)) 0%, transparent 100%);
}

/* menu animation */
.expand-menu-animate {
    animation: menu-transition 0.5s ease-out forwards;
}

.expand-menu-animate.reverse {
    animation: menu-transition-reverse 0.5s ease-out forwards;
}

.menu-mask {
    opacity: 0;
    animation: opacity-fade-in 0.3s 0.1s ease-out forwards;
}

.menu-mask.reverse {
    animation: opacity-fade-out 0.3s ease-out forwards;
}

@keyframes menu-transition {
    0% {
        transform-origin: top right;
        transform: scale(0);
        width: 0;
    }

    100% {
        transform-origin: center;
        transform: scale(2);
        width: 100%;
    }
}

@keyframes menu-transition-reverse {
    0% {
        transform-origin: center;
        transform: scale(2);
        width: 100%;
    }

    100% {
        transform-origin: top right;
        transform: scale(0);
        width: 0;
    }
}

@keyframes opacity-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* fade-in */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
    position: absolute;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* fade-down */
.fade-down-animate {
    animation: fade-down 0.6s ease-out;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    30% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down-enter-active {
    transition: opacity 0.4s 0.2s ease, transform 0.4s 0.2s ease;
}

.fade-down-leave-active {
    transition: opacity 0.5s cubic-bezier(.16, 1, 0, 1), transform 0.5s cubic-bezier(.16, 1, 0, 1);
}

.fade-down-enter-from,
.fade-down-leave-to {
    opacity: 0;
    transform: translateY(-1rem);
}