@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: 1 31 50;
        --background: 245 251 255;
        --primary: 3 113 181;
        --secondary: 169 220 254;
        --accent: 3 134 216;
    }

    .dark {
        --text: 205 235 254;
        --background: 0 6 10;
        --primary: 74 184 252;
        --secondary: 1 52 86;
        --accent: 39 170 252;
    }
}

body {
    @apply bg-background text-text;
    font-family: 'Prompt', sans-serif;
}